In [1]:
import pandas as pd
import numpy as np

##2. Ejercicios

###2.1. Pandas Básico

2.1.1. Carga el archivo 'world-data-1' como DataFrame (world_1)

2.1.2. Muestra las primeras 5 filas del conjunto de datos.

2.1.3. Muestra el número total de filas y columnas en el conjunto de datos.

2.1.4. Muestra el nombre de todas las columnas en el conjunto de datos.

2.1.5. Muestra los valores únicos en la columna "Country".

2.1.6. Cuenta cuántas veces aparece cada valor único en la columna "Country".

2.1.7. Verifica si hay valores nulos en el conjunto de datos.

2.1.8. Comprueba la presencia de duplicados en el conjunto de datos.

2.1.9. Muestra información general sobre el conjunto de datos.

2.1.10. Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas. Haz lo mismo para las categóricas.

In [20]:
world_1 = pd.read_csv("world-data-1.csv", index_col=0)

In [21]:
world_1.head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60.0,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70
1,Albania,105.0,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36
2,Algeria,18.0,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28
3,Andorra,164.0,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51
4,Angola,26.0,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97

In [22]:
world_1.shape

(195, 16)

In [15]:
world_1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [31]:
world_1['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [40]:
world_1['Country'].value_counts()

Country
Afghanistan      1
Saint Lucia      1
Nicaragua        1
Niger            1
Nigeria          1
                ..
Grenada          1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Name: count, Length: 195, dtype: int64

In [43]:
world_1.isnull().sum()

Country                   0
Density\n(P/Km2)          0
Abbreviation              7
Agricultural Land( %)     7
Land Area(Km2)            1
Armed Forces size        24
Birth Rate                6
Calling Code              1
Capital/Major City        3
Co2-Emissions             7
CPI                      17
CPI Change (%)           16
Currency-Code            15
Fertility Rate            7
Forested Area (%)         7
Gasoline Price           20
dtype: int64

Vamos a obtener el porcentaje de nulos por cada campo

In [46]:
porcentaje_nulos = round(world_1.isnull().sum()/world_1.shape[0]*100,2)
porcentaje_nulos

Country                   0.00
Density\n(P/Km2)          0.00
Abbreviation              3.59
Agricultural Land( %)     3.59
Land Area(Km2)            0.51
Armed Forces size        12.31
Birth Rate                3.08
Calling Code              0.51
Capital/Major City        1.54
Co2-Emissions             3.59
CPI                       8.72
CPI Change (%)            8.21
Currency-Code             7.69
Fertility Rate            3.59
Forested Area (%)         3.59
Gasoline Price           10.26
dtype: float64

In [49]:
world_1.duplicated().sum()

0

In [50]:
world_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    float64
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    float64
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    float64
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    float64
 15  Gasoline Price         175 non-null    float64
dtypes: float64(8), object(8)
memory usage: 25.9+ KB

In [51]:
world_1.describe()

,Density\n(P/Km2),Agricultural Land( %),Birth Rate,Calling Code,CPI Change (%),Fertility Rate,Forested Area (%),Gasoline Price
count,195.000000,188.000000,189.000000,194.000000,179.000000,188.000000,188.000000,175.000000
mean,356.764103,39.117553,20.214974,360.546392,6.722346,2.698138,32.015426,1.002457
std,1982.888967,21.783052,9.945774,323.236419,24.450414,1.282267,23.791331,0.368858
min,2.000000,0.600000,5.900000,1.000000,-4.300000,0.980000,0.000000,0.000000
25%,35.500000,21.700000,11.300000,82.500000,1.000000,1.705000,11.000000,0.755000
50%,89.000000,39.600000,17.950000,255.500000,2.300000,2.245000,32.000000,0.980000
75%,216.500000,55.375000,28.750000,506.750000,4.250000,3.597500,48.175000,1.240000
max,26337.000000,82.600000,46.080000,1876.000000,254.900000,6.910000,98.300000,2.000000

In [52]:
world_1.describe(include='object')

,Country,Abbreviation,Land Area(Km2),Armed Forces size,Capital/Major City,Co2-Emissions,CPI,Currency-Code
count,195,188,194,171,192,188,178,180
unique,195,188,194,105,192,184,175,133
top,Afghanistan,AF,"652,230","2,000",Kabul,143,110.62,EUR
freq,1,1,1,7,1,2,2,23